.card {
    color: white;
    border-radius: 5px;
    background-color: #0d0d0d;
    overflow: auto;


    &:hover {
        border: .5px solid white;
    }

    .thumb {
        width: 100%;
        border-top-right-radius: .3rem;
        border-top-left-radius: .3rem;
        border-bottom-right-radius: .3rem;
        border-bottom-left-radius: .3rem;
    }

    .img-none {
        height: 381px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info {
        display: none;

        img {
            width: 30px;
        }
    }

    .lang img {
        width: 20px;
        float: left;
    }

    .lang p {
        margin-bottom: .5rem;
        padding-left: .5rem;
    }

    &:hover .thumb,
    &:hover .img-none {
        display: none;

    }

    &:hover .info {
        display: block;
        height: 381px;
    }


    .stars {
        position: relative;
        top: -1.72rem;
        left: .05rem;
        color: yellow;
        font-size: 1.15rem;
    }

    .stars-empty {
        font-size: 1.15rem;
    }
}